.find-sth {
  .drag-popup {
    background-color: orange;
    width: 500px;

    .drag-popup-header {
      width: 100%;
      height: 40px;
      background-color: #3cbcaf;
      cursor: move;
    }
    .drag-popup-body {
      width: 100%;
      height: 400px;
      background-color: #74c7b5;
    }
  }
}
