<div class="main">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="false" [nzInlineIndent]="50">
    <li nz-menu-item [routerLink]="'Home'" routerLinkActive="active">
      <span class="glyphicon glyphicon-home"></span><span>首页</span>
    </li>
    <li nz-submenu [nzOpen]="true">
      <span title><span class="glyphicon glyphicon-picture"></span>图片管理</span>
      <!--<span class="glyphicon glyphicon-menu-left secondary-position"></span>-->
      <ul>
        <li nz-menu-item [routerLink]="'Slideshow'" routerLinkActive="active">
          <span>轮播图管理</span>
        </li>
        <li nz-menu-item [routerLink]="'PagePicManagement'" routerLinkActive="active">
          <span>页面图片管理</span>
        </li>
      </ul>
    </li>
    <li nz-menu-item><span class="glyphicon glyphicon-user" routerLinkActive="active"></span><span>用户管理</span></li>
    <li nz-submenu>
      <span title><span class="glyphicon glyphicon-comment"></span>信息管理</span>
      <!--<span class="glyphicon glyphicon-menu-left secondary-position"></span>-->
      <ul>
        <li nz-menu-item routerLinkActive="active"><span>失物信息管理</span></li>
        <li nz-menu-item routerLinkActive="active"><span>招领信息管理</span></li>
      </ul>
    </li>
    <li nz-menu-item routerLinkActive="active"><span class="glyphicon glyphicon-link"></span><span>友情链接</span></li>
    <li nz-menu-item [nzDisabled]="true"><span></span><span>感谢信管理(暂时不做)</span></li>
    <li nz-menu-item [nzDisabled]="true"><span></span><span>系统设置(暂时不做)</span></li>
  </ul>
</div>
