/* You can add global styles to this file, and also import other style files */
@media screen and (max-width:1500px){
  html{
    font-size:8px !important;
  }
}
html{
  font-size:10px;
}
*{
  outline:none;
}
body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  min-width:1200px;
  font-size: 1rem;
  //font-size:15px;
}

.right{
  float:right !important;
}
.left{
  float:left !important;
}
.icon-white{
  color:#fff;
}
.row{
  margin:0;
  padding:0;
  width:100%;
}
.inline-block{
  display: inline-block;
}
